* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3f4f6;
}
.scroes {
  width: 98%;
  min-height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: auto;
  overflow: visible;
}
header {
  text-shadow: 2px 2px 2px white;
  display: flex;
  justify-content: center;
  background-color: #1e3a8a;
  position: relative;
  z-index: 1;
}
header div {
  width: fit-content;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}
header {
  position: sticky;
  top: 0;
}
header div h1 {
  line-height: 6.5rem;
  font-size: 6rem;
  color: #111827;
}

main {
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  top: 50px;
  column-gap: 5%;
  row-gap: 10%;
}
.card {
  padding: 2rem;
  border-radius: 4px;
  text-transform: capitalize;
  text-shadow: 2px 2px 2px black;
  max-height: 100%;
  background-color: #1e3a8a;
  color: white;
}
.card-body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.card-body p {
  line-height: 2rem;
  font-size: 1.5rem;
}
.card-header {
  display: flex;
  height: 3.5rem;
  justify-content: center;
}
.card h1 {
  line-height: 3.5rem;
  font-size: 2rem;
  position: absolute;
  color: #14b8a6;
}

@media only screen and (min-width: 468px) and (max-width: 1500px) {
  main {
    grid-template-columns: 1fr;
    p {
      font-size: 1rem;
    }
  }

  .card h1 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 1500px) {
  main {
    grid-template-columns: 1fr;
  }
  .card h1 {
    font-size: 1.5rem;
  }
}
